.loadingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 35vh;
}

.loading {
  display: flex;
  font-size: 40px;
  color: white;
}

.loadingGif {
  margin-top: -10px;
  height: 70px;
}
