.loadingContainer {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 35vh;
}

.loading {
  color: white;
  display: flex;
  font-size: 40px;
}

.loadingGif {
  height: 130px;
  margin-top: -10px;
}
