.question-container {
  align-items: center;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 2px 2px 500px rgba(94, 94, 94, 0.778);
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: top;
  margin: 40px auto 200px auto;
  padding: 40px;
  width: 60%;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  height: 70vh;
}

.question-container p {
  margin-top: -5px;
  text-align: center;
}

.answers-container {
  margin-top: 5px;
  display: inherit;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 20px;
  width: 100%;
}

.answers-container button {
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.916);
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
  min-width: 45%;
  margin: auto;
  border: 3px solid rgb(0, 0, 0);
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15) !important;
}

.wrong-answer {
  border: 3px solid red !important;
}

.timer {
  display: flex;
  color: rgb(137,41,125);
  font-weight: 800;
  background: rgba(255, 255, 255, 0.812);
  border-radius: 90%;
  border: 4px solid rgb(137,41,125);
  width: 50px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.next-btn {
  border: 4px solid rgb(137,41,125);
  color: rgb(137,41,125);
  font-weight: 800;
  box-sizing: border-box;
  background-color: rgba(255, 255, 255, 0.812);
  border-radius: 20px;
  font-size: 20px;
  padding: 5px;
  min-width: 10%;
  margin-top: 50px;
}