.question-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  box-shadow: 2px 2px 500px rgba(94, 94, 94, 0.778);
  color: white;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: top;
  margin: 40px auto 200px;
  min-height: 60vh;
  padding: 40px;
  width: 60%;
}

.question-container p {
  margin-top: -5px;
  text-align: center;
}

.answers-container {
  display: inherit;
  flex-flow: row wrap;
  gap: 20px;
  margin-top: 5px;
  width: 100%;
}

.answer {
  background-color: rgba(255, 255, 255, 0.916);
  border: 3px solid black;
  border-radius: 20px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  height: auto;
  margin: auto;
  padding: 10px;
  width: 45%;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer {
  border: 3px solid red;
}

.timer {
  align-items: center;
  background: rgba(255, 255, 255, 0.812);
  border: 4px solid rgb(137, 41, 125);
  border-radius: 90%;
  color: rgb(137, 41, 125);
  display: flex;
  font-weight: 800;
  height: 50px;
  justify-content: center;
  padding: 10px;
  width: 50px;
}

.next-btn {
  background-color: rgba(255, 255, 255, 0.812);
  border: 4px solid rgb(137, 41, 125);
  border-radius: 20px;
  box-sizing: border-box;
  color: rgb(137, 41, 125);
  font-size: 20px;
  font-weight: 800;
  margin-top: 50px;
  min-width: 10%;
  padding: 5px;
}
