.question-container {
  align-items: center;
  border: 2px solid grey;
  border-radius: 20px;
  box-shadow: 2px 0 grey;
  display: flex;
  flex-direction: column;
  font-size: 30px;
  justify-content: center;
  margin: 40px auto;
  padding: 40px;
  width: 60%;
}

.answers-container {
  display: inherit;
  flex-direction: inherit;
  gap: 20px;
  width: 100%;
}

.answers-container button {
  background-color: lightgray;
  border-radius: 20px;
  font-size: 20px;
  padding: 10px;
}

.correct-answer {
  border: 3px solid rgb(6, 240, 15);
}

.wrong-answer {
  border: 3px solid red;
}
